@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500;600;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
section{
    background-color: #151515;
    padding: 135px;
}
#notbook{
    position: absolute;
    top: 171px;
    margin-left: 54%;
    height: 450px;
    width: auto;
}
p{
color: white;
}
#textoDeCima{
    font-size: 25px;
    color: #d7d7d7;
}
#textoDeBaixo{
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 75px;
}
#ponto{
    color: #ffcb00;
}
.card{
    border-radius: 5px;
    margin:50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #151515;
    height: 475px;
    width: 100vh;
}
#stock{
    color: white;
    font-size: 75px;
    font-weight: bolder;
}
#box{
    margin-top: 25px;
    height: 250px;
    width: 250px;
    transition: 2s ease;
}
#box:hover {
    transition:0.5s ease;
    height: 275px;
    width: 275px;
}
#cardUm{
    display: inline-flex;
}

#textoDoCard{
    color: black;
    padding: 35px;
}
#textoDoCard p{
    color: black;
    font-size: 18px;
    width: 550px;
    margin-top: 18px;
    text-align: justify;

}
h2{
    margin-top: 80px;
    font-size: 50px;
}
#btn {
    display: flex;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #000000;
    justify-content: center;
    font-size: 20px;
    padding: 24px;
    background: #ffcc00;
    font-weight: bolder;
    text-decoration: none;
    transition: color 1s ease;
    margin-top: 60px;
}
#btn:hover {
    background: #ff8c00;
    text-decoration: none;
    transition: color 3s ease;
}
#b{
    display: flex;
    justify-content: end;
}
@media (max-width: 1500px) {
    #notbook{
        position: absolute;
        top: 100px;
        margin-left: 55%;
        height: 400px;
        width: auto;
    }
    #cardUm{
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-self: center;
        align-items: center;
    }
    h2{
        margin-top: 0;
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 1360px) {
    #notbook{
        position: absolute;
        top: 100px;
        margin-left: 63%;
        height: 300px;
        width: auto;
    }

}
@media(max-width: 1230px){
    #notbook{
        opacity: 0;
    }
}
@media(max-width: 799px){
    section{
        padding: 40px;
    }
    #textoDeCima{
        font-size: 18px;
    }
    #textoDeBaixo{
        font-size: 50px;
    }
    .card{
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #151515;
        height: 400px;
        width: 85%;
    }
    #stock{
        font-size: 40px;
    }
    #box{
        height: 175px;
        width: 175px;
    }
    #box:hover {
        height: 200px;
        width: 200px;
    }
}
@media (max-width: 600px) {
    #textoDoCard{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #textoDoCard p{
        color: black;
        font-size: 18px;
        width: 85%;
        text-align: justify;
    }
}

